<div class="row mb-2 mt-2 align-items-center text-white text-center">
    <div class="col-md-4 p-2">
        <div class="card mr-3 ml-3 peach-gradient">
            <div class="card-body">
                <h5> <i class="fas fa-database mr-2 ml-2"></i> Historical data</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-2">
        <div class="card mr-3 ml-3 purple-gradient">
            <div class="card-body">
                <h5> <i class="fas fa-chart-bar mr-2 ml-2"></i>Better Data Visualization</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-2">
        <div class="card mr-3 ml-3 blue-gradient">
            <div class="card-body">
                <h5> <i class="fas fa-server mr-2 ml-2"></i> Live Steaming data</h5>
            </div>
        </div>
    </div>
</div>