<div class="row mb-2 mt-2 align-items-center ">
    <div class="col-md-3 my-2 text-center">
        <div class="card mr-3 ml-3 peach-gradient text-light shadow">
            <div class="card-body">
                <i class="fas fa-database mr-2 ml-2"></i>
                Historical data
            </div>
        </div>
    </div>
    <div class="col-md-3 my-2 text-center">
        <div class="card mr-3 ml-3 purple-gradient text-light shadow">
            <div class="card-body">
                <i class="fas fa-chart-bar mr-2 ml-2"></i>
                Better Data Visualization
            </div>
        </div>
    </div>
    <div class="col-md-3 my-2 text-center">
        <div class="card mr-3 ml-3 aqua-gradient text-light shadow">
            <div class="card-body">
                <i class="fas fa-database mr-2 ml-2"></i>
                Historical data
            </div>
        </div>
    </div>
    <div class="col-md-3 my-2 text-center">
        <div class="card mr-3 ml-3 blue-gradient text-light shadow">
            <div class="card-body">
                <i class="fas fa-server mr-2 ml-2"></i>
                Live Steaming data
            </div>
        </div>
    </div>
</div>