{% load static %}
<div class="row m-2 align-items-center">

    <div class="col-md-4 p-4">
        <img class="img-fluid z-depth-1 rounded-circle"
            src="https://www.icpdas-europe.com/out/media/image/smart-farming%282%29.jpg" alt="Testing Image">
    </div>
    <div class="col-md-8 text-left p-4">
        <h1 class="display-3 lime-text text-uppercase font-weight-bold">
            Smart Green
        </h1>
        <h2>
            <a class="lime white-text font-weight-bold p-1 m-1" href="{% url 'sg-dashboard' %}">
                Dashboard
            </a> for monitoring your field.
        </h2>
        <p>
            Smart Green is a web platform for farming monitoring and land suitability prediction. The app is backed with
            a powerful and intelligent prediction system, based on Artificial Intelligence.
        </p>
    </div>
    <div class="w-100"></div>
</div>
{% include 'sg_home/components/features.html' %}
<hr>