{% load static %}
<div class="row m-4 align-items-center">

    <div class="col-md-4 p-4">
        <img class="img-fluid z-depth-1 rounded-circle"
            src="https://www.icpdas-europe.com/out/media/image/smart-farming%282%29.jpg" alt="Testing Image">
    </div>
    <div class="col-md-8 text-left p-1">
        <h1 class="display-1 lime-text text-uppercase font-weight-bold">
            Smart Green
        </h1>
        <h2 class="">
            <a class="lime-text font-weight-bold" href="{% url 'sg-dashboard' %}">
                Dashboard
            </a> for monitoring your field.
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit architecto, velit veritatis
            culpa laudantium necessitatibus deserunt sed dolore, cum voluptatem exercitationem vitae ullam aliquam
            consequatur dolor commodi consequuntur adipisci.
        </p>


    </div>
    <div class="w-100"></div>
</div>
{% include 'sg_home/components/features.html' %}
<hr>