{% extends 'sg_dashboard/base.html' %}
{% load static %}


{% block content %}

<div id="data-visualization" class="row">
    <div class="col-md-12 text-left">
        <h1 class="display-4 font-weight-bold lime-text"> Data Visualization (real time) </h1>
    </div>
</div>
<hr>

<!-- Plants info -->
{% include './components/plants_infos.html' %}


<!-- Charts -->
{% include './components/charts.html' %}


<!-- Production infos -->
<div id="production" class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4 lime-text"> Production </h1>
    </div>
</div>

<!-- Tables -->
{% include './components/tables.html' %}


{% endblock content %}

{% block jquery_section %}
<script src="{% static 'sg_dashboard/js/load_charts.js' %}"></script>
{% endblock jquery_section %}