{% extends 'sg_dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col-md-12 text-left">
        <h1 class="display-4 font-weight-bold lime-text"> Land suitability
        </h1>
    </div>
    <!-- Input land and weather data to get land suitability -->
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <!-- ----------------------------- -->
                <!-- land and weathor factors form -->
                <!-- ----------------------------- -->
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="pt-2">Choose land and weather factors:</h3>
                    </div>
                    <div class="col-md-12 pb-4 text-muted">
                        Predicting land suitability is based on land and weather factors. Enter the required information
                        so that the Intelligent Model could predict the land suitability and outputs one of the four
                        classes: <i>Best suitability, Suitable, Modelrately suitable and Unsuitable.</i>
                    </div>
                </div>
                <div class="col-md-12 w-100">
                </div>
                <!--  Land suitability form  -->
                {% include './components/suitability_form.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block jquery_section %}
<script>
</script>
{% endblock jquery_section %}