<!-- -------------------------------------- -->
<!--            Precipitation                 -->
<!-- -------------------------------------- -->
<div class="row my-3 text-white justify-content-around">
    <div class="col-md-12 mb-4">
        <div class="card text-center blue-gradient shadow rounded">
            <div class="card-body">
                <h5 class="font-weight-bold">Minimum: <span class="p-2 pb-0" id="min_prec" class="display-4"></span>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-md-12 m-4">
        <div class="card text-center aqua-gradient shadow rounded">
            <div class="card-body">
                <h5 class="font-weight-bold">Average: <span class="p-2 pb-0" id="avg_prec" class="display-4"></span>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <div class="card text-center peach-gradient shadow rounded">
            <div class="card-body">
                <h5 class="font-weight-bold">Maximum: <span class="p-2 pb-0" id="max_prec" class="display-4"></span>
                </h5>
            </div>
        </div>
    </div>
</div>