{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
<style>
	.map {
	height: 400px;
	width: 100%;
	}
</style>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>

<div class="card text-center shadow">
    <div class="card-body m-2">
        <h4 class="text-left font-weight-bold">Biskra Map </h4>
        <hr>
		<div class="map" id="map"></div>
    </div>
</div>

<script type="text/javascript">
	var map = new ol.Map({
		target: 'map',
		layers: [
			new ol.layer.Tile({
				source: new ol.source.OSM()
			})
		],
		view: new ol.View({
			center: ol.proj.fromLonLat([34.8449, 5.7249]),
			zoom: 5
		})
	});
</script>