<div class="row">
    <div class="col-md-6 my-3">
        {% include './charts_historical/tempChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts_historical/humdChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts_historical/pressureChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts_historical/moistureChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts_historical/cropsChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts_historical/biskraMap.html' %}
    </div>
</div>
<hr>