<div class="row">
    <div class="col-md-6 my-3">
        {% include './charts/tempChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts/humdChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts/pressureChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts/moistureChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts/cropsChart.html' %}
    </div>
    <div class="col-md-6 my-3">
        {% include './charts/biskraMap.html' %}
    </div>
</div>
<hr>