<div class="card shadow-sm">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-3">
                <h3>Pick the date:</h3>
            </div>
            <div class="col-md-2">
                <select id="monthInput" class="browser-default custom-select">
                </select>
            </div>
            <div class="col-md-2">
                <input type="number" min="2009" max="2019" class="form-control" id="yearInput" placeholder="Year">
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="api">
                    <label class="custom-control-label" for="api">API </label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success w-100 shadow-sm" onclick="get_data_page()">Submit</button>
            </div>
        </div>
    </div>
</div>