<div class="row mb-3 text-white">
    <div class="col-md-4">
        <div class="card text-center blue-gradient shadow rounded">
            <div class="card-body">
                <h4 class="font-weight-bold">Min temperature <span class="p-2" id="min_temp" class="display-4"></span>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center aqua-gradient shadow rounded">
            <div class="card-body">
                <h4 class="font-weight-bold">Avg temperature <span class="p-2" id="avg_temp" class="display-4"></span>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center peach-gradient shadow rounded">
            <div class="card-body">
                <h4 class="font-weight-bold">Max temperature <span class="p-2" id="max_temp" class="display-4"></span>
                </h4>
            </div>
        </div>
    </div>

</div>
{% comment %} <div class="col-md-4 p-4">
    <div class="card text-center peach-gradient shadow">
        <div class="card-body m-2">
            <h4 class="font-weight-bold">Max temperature </h4>
            <hr>
            <h2 id="max_temp" class="font-weight-bold"></h2>
        </div>
    </div>
</div> {% endcomment %}