{% load static %}
<div class="row">
    <div class="col-md-6">
        <div class="card text-center shadow">
            <div class="card-body m-2">
                <h4 class="text-left font-weight-bold">Plants infos</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum fugit nisi cumque porro, labore maxime
                quam
                <hr>
                exercitationem molestiae asperiores maiores numquam quas, laudantium assumenda officiis odio est
                inventore ipsa.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center shadow">
            <div class="card-body m-2">
                <h4 class="text-left font-weight-bold">Plants Pictures</h4>
                <hr>
                <div>
                    <img src="{% static 'sg_dashboard\assets\plant.svg' %}" alt="Plant">
                </div>
            </div>
        </div>
    </div>
</div>