{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css"
	type="text/css">
<style>
	.map {
		height: 400px;
		width: 100%;
	}
</style>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>

<div class="card text-center shadow">
	<div class="card-body m-2">
		<h4 class="text-left font-weight-bold">Farming field map </h4>
		<hr>
		<div class="map" id="map"></div>
	</div>
</div>

<script type="text/javascript">
	const biskraCoordinates = [34.85038, 5.72805];

	var map = new ol.Map({
		target: 'map',
		layers: [
			new ol.layer.Tile({
				//source: new ol.source.OSM()
				source: new ol.source.BingMaps({
					//visible: true,
					//preload: Infinity,
					//key: 'Your Bing Maps Key from http://www.bingmapsportal.com/ here ',
					imagerySet: 'Aerial'
					// use maxZoom 19 to see stretched tiles instead of the BingMaps
					// "no photos at this zoom level" tiles
					// maxZoom: 19
				})
			}),
		],
		view: new ol.View({
			//center: ol.proj.fromLonLat([10, 10]),
			center: ol.proj.fromLonLat([5.755878, 34.838029]),
			zoom: 25
		})
	});
</script>