{% load static %}
<div class="card text-center shadow full-height">
    <div class="card-body m-2">
        <h4 class="text-left font-weight-bold">{{ title }}</h4>
        <hr>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, dicta saepe animi optio dolores veritatis
        doloremque odit similique modi excepturi dolorum doloribus quo, eligendi nihil consequuntur nobis ut earum
        tenetur.
    </div>
</div>
<style>
    .full-height {
        height: 100%;
    }
</style>