{% load static %}
<div class="card text-center shadow">
    <div class="card-body m-2">
        <h4 class="text-left font-weight-bold">Crop yields </h4>
        <hr>
        <canvas id="cropsCanvas">
        </canvas>
    </div>
</div>

<script>
    /**
     * Create Crops yeild chart
     */
    function createCropsChart(data) {

        var cropsCanvas = document.getElementById('cropsCanvas').getContext('2d');

        return new Chart(cropsCanvas, {
            type: 'pie',
            data: {
                labels: data.labels,
                datasets: [{
                    label: data.datalabel,
                    data: data.data,
                    borderWidth: 2,
                    backgroundColor: [
                        'rgba(224, 53, 53, 0.7)',
                        'rgba(44, 141, 221, 0.7)',
                        'rgba(22, 221, 98, 0.7)',
                        'rgba(233, 239, 47, 0.7)',
                    ]
                }]
            },
            options: {
                scales: {}
            }
        });
    }


    /**
     * Update Crops yeild chart
     */
    function updateCrops(value) {
        charts.cropsChart.data.labels.push("Test");
        console.log(charts.cropsChart.data.datasets[0].data.push(value));
        charts.cropsChart.update();
    }
</script>