{% load static %}
<div class="card text-center shadow">
    <div class="card-body m-2">
        <h4 class="text-left font-weight-bold">Soil Moisture</h4>
        <hr>
        <canvas id="moistureCanvas">
        </canvas>
    </div>
</div>

<script>
    /**
     * Create Soil moisture chart
     */
    function createMoistureChart(data) {

        var moistureCanvas = document.getElementById('moistureCanvas').getContext('2d');

        return new Chart(moistureCanvas, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: data.datalabel,
                    data: [],
                    //backgroundColor: bgcolor,
                    borderWidth: 3,
                }]
            },
            options: {
                scales: {
                    yAxes: {
                        ticks: {
                            min: 0,
                            max: 70,
                        },
                    }
                }
            }
        });
    }



    /**
     * Update Soil Moisture chart
     */
    function updateMoisture(value) {
        charts.moistureChart.data.labels.push("Test");
        charts.moistureChart.data.datasets[0].data.push(value);
        charts.moistureChart.update();
    }
</script>