{% load static %}
<div class="card text-center shadow">
    <div class="card-body m-2">
        <h4 class="text-left font-weight-bold">Soil Moisture</h4>
        <hr>
        <canvas id="moistureCanvas">
        </canvas>
    </div>
</div>

<script>
    /**
     * Create Soil moisture chart
     */
    function createMoistureChart() {

        var moistureCanvas = document.getElementById('moistureCanvas').getContext('2d');

        return new Chart(moistureCanvas, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: 'Soil moisture',
                    data: [],
                    backgroundColor: 'rgba(137, 29, 209, 0.7)',
                    borderWidth: 3,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            stepSize: 1,
                        },
                    }]
                }
            }
        });
    }



    /**
     * Update Soil Moisture chart
     */
    function updateMoisture(data) {
        charts.moistureChart.data.labels.push(data.date);
        charts.moistureChart.data.datasets[0].data.push(data.value);
        if (charts.moistureChart.data.datasets[0].data.length > 20) {
            charts.moistureChart.data.datasets[0].data.shift();
            charts.moistureChart.data.labels.shift();
        }
        charts.moistureChart.update();
    }
</script>