{% load static %}
<div class="card text-center shadow">
    <div class="card-body m-2">
        <h4 class="text-left font-weight-bold">Temperature </h4>
        <hr>
        <canvas id="tempCanvas">
        </canvas>
    </div>
</div>

<script>
    /**
     * Create Temperature chart
     */
    function createTempChart() {
        var tempCanvas = document.getElementById('tempCanvas').getContext('2d');

        return new Chart(tempCanvas, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Temperature',
                    data: [],
                    backgroundColor: 'rgba(229, 117, 25, 1)',
                    borderWidth: 3,
                }, ],
            },
            options: {
                scales: {
                    yAxes: {
                        ticks: {
                            min: 0,
                            max: 70,
                        },
                    }
                }
            }
        });
    }


    /**
     * Update Temperature chart
     */
    function updateTemperature(data) {
        charts.tempChart.data.labels.push(data.date);
        charts.tempChart.data.datasets[0].data.push(data.value);
        charts.tempChart.update();
    }
</script>