{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'sg_home/components/header.html' %}

<div class="row  pb-5 align-items-center text-center">
    <!-- Field monitoring image -->
    <div class="col-5 p-3">
        <img class="image" src="{% static 'sg_home/Assets/sensors_farming.png' %}" alt="Testing Image">
    </div>
    <!-- Field monitoring descrption -->
    <div class="col-7 text-left pl-4">
        <h1 class="display-4 font-weight-bold text-uppercase lime-text">
            Field
            <i class="fab fa-raspberry-pi"></i>
            Monitoring
        </h1>
        <h5>With the <span class="font-weight-bold">IoT</span> technology, the user is able to monitor the field of the
            farm all the time. The <span class="font-weight-bold">Raspberry Pi</span> represents the heart of the IoT
            system, all data will
            be collected and then sent to the server with the <strong>Raspberry Pi</strong>.</h5>
    </div>
    <hr>
</div>
<hr>
<div class="row mt-4 mb-4 pb-5 align-items-center text-center">
    <!-- Field monitoring descrption -->
    <div class="col-7 text-right pr-4">
        <h1 class="display-4 font-weight-bold text-uppercase lime-text">
            Data
            <i class="fab fa-raspberry-pi"></i>
            Analytics
        </h1>
        <h5>Using the latest <span class="font-weight-bold">Artificial Intelligence</span> technologies, our system
            gives predictions about <span class="font-weight-bold">land suitability</span> based on the accumulated
            weather and land data.</h5>
    </div>
    <div class="col-5 p-3">
        <img class="image w-75" src="{% static 'sg_home/Assets/smart-farming.png' %}" alt="Testing Image">
    </div>
</div>

<style>
    .image {
        width: 100%;
    }
</style>

{% endblock content %}