{% extends 'sg_dashboard/base.html' %}
{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-10 p-2">
        <div class="card">
            <div class="card-body text-center">
                <img id="profile_picture" src="{% static 'sg_users/assets/drone_farm.jpg'%}" class="rounded"
                    alt="{{user.username}}-profile-picture">
                <a href="#">
                    <h2 class="p-3 font-weight-bold lime-text">@{{user.username}}
                    </h2>
                </a>
                <div>

                    <ul class="list-group list-group-flush">
                        <div class="row ">
                            <div class="col-md-6 text-left">
                                <li class="list-group-item"><strong>First name:</strong> </li>
                                <li class="list-group-item"><strong>Last name:</strong> </li>
                                <li class="list-group-item"><strong>Email :</strong></li>
                            </div>
                            <div class="col-md-6 text-left">
                                <li class="list-group-item"></li>
                                <li class="list-group-item">{{user.last_name}}</li>
                                <li class="list-group-item">{{user.email}}</li>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-danger w-100">Delete account</button></div>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    #profile_picture {
        width: 100%;
    }
</style>

{% endblock content %}